@primary: rgb(114, 120, 191);
@secondary: rgb(114, 191, 133);
@subheaders: #ddd;
@headerTextColor: #eee;
@sansFont: 'Gotu', Tahoma, Arial, sans-serif;
@serifFont: 'Gentium', 'Book Antiqua', 'New York', 'DejaVu serif', serif;
@monoFont: 'Ubuntu Mono', Hack, consolas, Menlo-Regular, Menlo, Monaco, monospace;
@dangerCol: #e21d27;
@errUrgentCol: #ecc63c;
@proSelectedCol: #71D571;
@textLinkColor: rgb(125, 130, 196);

@accent: #767676;

@fg: #eee;
@bg: #222;
@dim: darken(@fg, 20%);
@verydim: darken(@dim, 20%);
@fade: lighten(@bg, 20%);
@veryfade: lighten(@fade, 20%);

@navLinkColor: #ddd;
@footerLinkColor: #666;
@footerLinkHoverColor: #999;
@footerHomeLinkColor: #ccc;
@footerHomeLinkHoverColor: #eee;

@pageBackgroundColor: #222;
@pageTextColor: #eee;

@postTitleColor: darken(@pageTextColor, 20%);
@postTitleVisitedColor: darken(@postTitleColor, 10%);

@badgeBackgroundColor: white;
@badgeTextColor: #aaa;

@readMoreLinkColor: #999;

